<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="container">

      {%- include topbar.html -%}
      
      <div class="content">
        {{ content }}
      </div>
  
      <div class="important_note montserrat-reg">
        <div class="important_note_left">You are here because you maybe looking for software development 
          outsourcing company in India, customised software development company in India, top ai software 
          development company in India, custom lms learning management system development company in India,
         top edtech software development company in India, best full stack developer in Pune India, 
         top full stack software architect in Pune India.
        </div>
        <div class="important_note_right">
          <div title="Fast delivery times and efficient project turnaround">T<span>urbocharged Turnaround</span></div>
          <div title="Dependable team committed to solid results">R<span>eliable and Resolute Team</span></div>
          <div title="Exceptional value with competitive pricing">I<span>ncredible Value at Irresistable Pricing</span></div>
          <div title="Utilizing the latest and most effective technologies">L<span>asting Logic</span></div>
          <div title="High standards in all practices for quality results">P<span>ristine Practices</span></div>
        </div>
      </div>
  
      {%- include footer.html -%}
      
    </div>

  </body>

</html>
