---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
    <div class="pagination">
      <ul class="pagination-list">
          {% if paginator.previous_page %}
              <li><a href="{{ paginator.previous_page_path | relative_url }}" aria-label="Previous Page">&laquo; Prev</a></li>
          {% else %}
              <li class="disabled"><span>&laquo; Prev</span></li>
          {% endif %}
  
          <!-- Current Page Indicator -->
          <li class="active"><span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span></li>
  
          {% if paginator.next_page %}
              <li><a href="{{ paginator.next_page_path | relative_url }}" aria-label="Next Page">Next &raquo;</a></li>
          {% else %}
              <li class="disabled"><span>Next &raquo;</span></li>
          {% endif %}
      </ul>
    </div>
    {%- endif %}

  {%- endif -%}

</div>
